@import "tailwindcss";

@theme {
    --color-primary: #edeff3;
    --color-secondary: #5a6468;
    --color-accent: #0a0a0a;
    --color-hoverColor: #06b6d4;
    --color-specialColor: #eab308;
}

/*                ****** Browser Scorll Style ********
Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: red;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
